.theme{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
    margin-top: 5px;
}
.taskName{
    border-bottom: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    background-color: #212529;
    color: white;
}
button:hover{
    background-color: white;
    color: black;
}
.task{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}